<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quiz Coding Club</title>
</head>
<body>
	<h4>Welcome you are connected as an admin!</h4>
	<a href="/"><h5>Home</h5></a>
	<a href="/admin/see/quiz"><h5>See quiz</h5></a>
	<a href="/admin/see/team"><h5>See team</h5></a>
</body>
</html>