<div class="uk-card uk-card-default uk-margin-top uk-width-1-4 uk-align-center uk-box-shadow-large">
    <div class="uk-card-header">
        <h3 class="uk-text uk-width-auto uk-align-center">Hey {{teamName}} are you ready ? </h3>
    </div>
    <div class="uk-card-body">
        <button id="readyButton" class="uk-button uk-button-danger uk-align-center" ng-click="getReady()">Not Ready</button>
    </div>
</div>

<div>
    <h1 class="uk-text-uppercase uk-text-center uk-text-lead">Others teams</h1>
    <div class="uk-card uk-card-default uk-margin-top uk-width-1-4 uk-align-center uk-box-shadow-large">
        <div class="uk-card-header">
            <h3 class="uk-text uk-width-auto uk-align-center">Michel</h3>
        </div>
        <div class="uk-card-body">
            <span class="uk-label uk-label-danger uk-align-center">Not Ready</label>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-margin-top uk-width-1-4 uk-align-center uk-box-shadow-large">
        <div class="uk-card-header">
            <h3 class="uk-text uk-width-auto uk-align-center">Cuul</h3>
        </div>
        <div class="uk-card-body">
            <span class="uk-label uk-label-success uk-align-center">Ready</label>
        </div>
    </div>
                    
</div>
